<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .navbar ul{
            display: flex;
            justify-content: space-end;
            
        }
        .navbar ul li{
            margin: 4px 47px;
        }
    </style>
</head>
<body>
    <nav class="navbar">
        <ul>
            <li>Home</li>
            <li>About</li>
            <li>Contact</li>
        </ul>
    </nav>
    <h3>{{%Content%}}</h3>
</body>
</html>