<div class="products-list">
    <div class="products-detail">
        <div class="product-image">
            <img src="" height="120" width="120">
        </div>
        <div class="product-specs">
            <h3>APPLE iPhone SE</h3>
            <p><span>Model Name:</span>iPhone SE</p>
            <p><span>Model Number:</span>MHGT3HN/A</p>
            <p><span>Size:</span>11.94 cm (4.7 inch) Retina HD Display</p>
            <p><span>Camera:</span>12MP Rear Camera | 7MP Front Camera</p>
        </div>
    </div>
    <div class="products-detail">
        <div class="product-info"><h4>Price: $123</h4></div>
        <div class="product-info"><h4>Color: Black</h4></div>
        <div class="product-info">
            <button class="btn btn-primary">Buy Now</button>
            <button class="btn btn-secondary">Show Details</button>
        </div>
    </div>
</div>